.description {
    color:white;
    text-align: center;
}
body {
    background-color: dimgray;
}

.tableStyle {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 4px;
    font-family: sans-serif;
    width: 100%;
}
.textColor {
    color:white;
}
.body {
    text-align: left;
    color:white;
    width: 750px;
}